.page-not-found-container {
    width: 100vw;
    height: 80vh;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;

    .page-not-found-text {
        margin: 25px 0;
        font-family: $font;
        font-size: 3em;
    }

    .page-not-found-paragraph {
        font-family: $font;
        font-size: 2em;
    }
}