.page-not-found-container {
    width: 100vw;
    height: 80vh;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;

    .page-not-found-text {
        margin: 25px;
        font-family: $font;
        font-size: 1.5em;
        line-height: 1.2em;
        
        @media (min-width: #{$screen-lg}) {
            font-size: 3em;
        }
    }
    
    .page-not-found-paragraph {
        margin: 25px;
        font-family: $font;
        font-size: 1em;
        line-height: 1.2em;

        @media (min-width: #{$screen-lg}) {
            font-size: 2em;
        }
    }
}