.paintings-container {
    margin: 0;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    // background-color: yellow;
    
    .images-container {
        width: 90%;
        display: flex;
        justify-content: center;
    li {
        height: 100%;
        margin-top: 20px;
        list-style-type: none;

        img{
            width: 100%;
        }
    }
}
}