.about-container-mobile {
    width: 100%;
    padding: 0px 30px 200px 30px;
    background-color: $background-color;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    
    @media (min-width: 769px) {
        height: 100vh;
        padding: 0 100px 200px 100px;
        flex-direction: row;
        align-items: flex-start;
    }

    .sunny-portrait-mobile {
        margin: 0 25px;
        width: 350px;
        border-radius: 40px;

        @media (max-width: $screen-xs){
            width: 275px;
        }
    }

    .email-container-mobile{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
        color: $font-color-grey;
        font-size: 1em;
        font-family: $font;

        .email {
            padding-left: 5px;
            color: $font-color-grey;
            font-size: 1em;
            font-family: $font;
        }
    }

    .education-container-mobile {
        margin-top: 15px;
        color: $font-color-grey;
        font-size: 1em;
        font-family: $font;
        line-height: 20px;
        letter-spacing: 1.5px;

        .artist-educator-mobile {
            text-align: center;

            @media (min-width: 768px) {
               text-align: left;
            }
        }

        h3 {
            color: rgb(100, 100, 100);
                text-transform: uppercase;
        }
    }
}