.home-container-desktop {
    margin: 0 auto;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    .images-container {
        display: flex;
        justify-content: center;
        flex-direction: column;

            li {
                height: 100%;
                margin: 20px 0;
                display: flex;
                align-items: center;
                flex-direction: column;
                list-style-type: none;

            h1 {
                font-family: $font;
                font-weight: 600;
                font-size: 1.2em;
                letter-spacing: .05em;
            }
            
            h5 {
                width: 100%;
                margin: 10px 0px;
                padding: 0 40px;
                display: flex;
                justify-content: center;
                text-align: center;
                letter-spacing: .05em;
                line-height: 1.4;
            }

            img{
                width: 90%;
            }
        }
    }
}


