@import url('https://fonts.googleapis.com/css?family=Montserrat');

// Variables
$font-size: .9em;
$font-color:  rgb(204, 151, 128);
$font-color-grey: rgb(175, 175, 175);
$font-color-hover: rgb(241, 177, 149);
$background-color: rgb(25, 25, 25);
$font: 'Montserrat', sans-serif;
$screen-xs: 376px;
$screen-sm: 576px;
$screen-md: 769px;
$screen-lg: 1025px;
$screen-xl: 1235px;


@import './Components/Header/Header';
@import './Components/Footer/Footer';
@import './Components/Home/Home';
@import './Components/About/About';
@import './Components/Exhibition/Exhibition';
@import './Components/PageNotFound/PageNotFound';




